<section class="question">
<h2>Frage</h2>
<p class="text"><%= markdown @question.text %></p>
<h3>Antworten</h3>
<ol>
  <% @question.answers.each do |answer| %>
    <li><%= link_to answer.text.html_safe, vorkurs_test_replies_path(answer_id: answer.id), method: :post %></li>
  <% end %>
</ol>
<div class="progress progress-striped">
  <div class="bar" style="width: <%= @user.grouped_answers_for(@test).count * 100 / @test.questions.count %>%;"></div>
</div>
</section>
