<%if @user.nil? || @user.preregistered?
	@disabled = "disabled" 
end
%>
<div class="<%=@disabled %>-step step2">
	<h2>Schritt 2 <%if((!@user.nil?) && (@user.completed_all_tests?))%><span class='check'>&#x2714;</span><% end %> </h2>
	<p>Machen Sie beide Selbsteinschätzungstests:</p>
	<% 	VorkursTest.all.each do |test| 

			@status = ((!@current_user.nil?) && (@current_user.started_test? test))?(@current_user.completed_test? test)? :done : :resume : :none
		    if @status == :done
				@bootstrap_class = "success"
				@appell = "Ergebnisse ansehen"
				@result = @user.test_result test
		    elsif @status == :resume
				@bootstrap_class = "warning"
				@appell = "Weiter machen"
				@result = nil
		    else
				@bootstrap_class = "danger"
				@appell = "Los geht's"
				@result = nil
		    end

			%>
			<div class="vorkurstest">
				<%=link_to (raw "#{test.name} &#x21d2; #{@appell}"), vorkurs_test_path(test.id), class:"#{@disabled} btn btn-block btn-#{@bootstrap_class}" %>
				<%=raw (@result.nil?)? "":"<span class='result badge badge-important'>#{@result}%</span>" %>
			</div>

	<% end %>
	<% if (!@user.nil?) && @user.completed_all_tests? %>
		<div class="alert alert-info">
			<% if @recomended_courses.count == 0 %>
				Aufgrund Ihrer sehr guten Vorkenntnisse 
				halten wir eine Teilnahme am Vorkurs <b>nicht für zwingend notwendig</b>.
				Wir wünschen viel Erfolg im Studium.
			<% else %>
				Nach Ihrem Testergebnis zu urteilen, empfehlen wir Ihnen,
				<% first = true %>
				<% @recomended_courses.each do |level, courses| %>
					<% unless first %> und <% end %><% first = false %>
					<% if courses[0].title == courses[0].course_level %>
						den
					<% else %>
						einen
					<% end %>
					<b><%=level%></b>
				<% end %>
				zu besuchen.
			<% end %>
		</div>
	<% end %>
</div>
