<section id="courses">
  <div class="description">
    <h1><%=editable_text("courses.title")%></h1>
    <%=editable_text("courses.description")%>
  </div>
<% @courses.each do |course| %>
  <div class="course">
    <h2><%= course.course_name %></h2>
    <%=course.description %>
  </div>
  <% end %>
</section>
