// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.howto-steps {
	display: table;
	&>div {
		display: table-cell;
		width: 28%;
		padding-right: 56px;
		text-align: center;
	}
}

#howto {
	text-align: center;
	padding: 0;
	margin: 0;
	div{
		&:last-child {
			padding-right: 0;
		}
		
		h1 {
			font-size: 15pt;
		}

		.login input {
			width: 100%;
			margin-bottom: 6px;
		}

		.or {
			font-size: 14pt;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.check {
			color: $green;
		}
	}

	button {
		width: 80%;
		//left: 10%;
		margin-top: 10px;
	}

	form.enrollment {
		text-align: left;
		input{
			width: auto;
			margin-bottom: 8px;
		}
		.sublevel{
			padding-left: 20px;
		}
	}

	div.disabled-step {
		color: #aaa;
		&:after{
			background-position:-6px -44px;
		}
	}

	div.vorkurstest {
		position: relative;
		padding-top: 6px;

		span.result {
			position: absolute;
			top:1px;
			right:-5px;
		}
	}
}

@media screen and (max-width: 835px) {
	#howto {
		&>div{
			width: 32%;
			padding-right: 10px;
			&:after{
				display:none;
			}
		}
	}
}

@media screen and (max-width: 680px) {
	#howto {
		&>div{
			height: auto;
			width: 100%;
			margin: 0;
			padding: 0;
			&:after{
				display:none;
			}
		}
	}
}