// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.question {
  	max-width: 40em;
  	margin: 3em auto;

	p.text {
	  font-weight: bold;
	}

	form.new_question {
	  max-width: 40em;
	  margin: 0 auto;
	}

	.progress {
	  margin-top: 3em;
	}

	.question_type_text {
		margin-left: 15px;
		color: #aaa;
		font-style: italic;
	}

	input[type="submit"] {
		margin-bottom: 0;
	}

	input[type="radio"], input[type="checkbox"]{
		margin-top: 0;
		margin-bottom: 5px;
		margin-right: 6px;
	}

	.single_select {
		a.btn{
			margin: 1px 0;
		}
	}

	.mapping {
		.top{
			margin-bottom: 20px;

			.btn {
				z-index: 100;
			}
		}

		.answers {
			display: none;
		}

	}

}